<dic class="clockin">
<h1 class="text-center">Add Time Card</h1>
<div class="jumbotron">
<form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail3">Email address</label>
    <input type="email" class="form-control" id="email" placeholder="Email" name="email" ng-model="email">
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputPassword3">Start Time</label>
    <input  type="text" class="form-control"  id="startTime" placeholder="900" name="startTime" ng-model="startTime">
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputPassword3">End Time</label>
    <input type="text" class="form-control" id="endTime" placeholder="1400" name="endTime" ng-model="endTime">
  </div>

  <a href="#/about"><button ng-click="submit()" type="submit" class="btn-medium btn-success">Add</button></a>
</form>
</div>
</div>
